<template name="footer">
    <footer class="footer">
        <div class="navbar navbar-fixed-bottom navbar-default">
            <p class="navbar-text">
                Inhalt lizensiert unter <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            </p>
            <p class="navbar-text pull-right">
                Bei R&uuml;ckfragen: Mail an&nbsp;<a href="mailto:info@steyr-werke.at?Subject=Hilfe%20Formular" target="_top">Steyr-Werke</a> oder Tel&nbsp;<a href="tel:+4369918008492">+43699&nbsp;1800&nbsp;84&nbsp;92</a>
            </p>
        </div>
    </footer>
</template>
