<template name="submissionFinished">
    <div class="jumbotron">
        <h2>Danke f&uuml;r Deine Einreichung</h2>
        <p>Das Projekt wurde &uuml;bermittelt. Wir werden Dich bis sp&auml;testens Anfang September kontaktieren, ob Dein Projekt bei der Messe ausgestellt werden kann.</p>
        <div class="text-center">
            <a href="/" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> &nbsp; Home
            </a>
        </div>
    </div>
</template>
